<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% if page.title %}
            {{ page.title }} &middot; {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <script src="{{ site.baseurl }}/theme/js/jquery-3.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/popper.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=JetBrains+Mono:wght@300;400&display=swap">

    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/site.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/home.css">

</head>
