{% if page.show_profile %}
    <div class="card pb5 bg-light">
        <div class="card-body text-center">
            {{site.author.name}}
            {% include components/profile-body.html %}
        </div>
    </div>
{% endif %}

{% include components/all-tags.html 

{% if page.show_skills %}
    {% include components/all-skills.html %}
{% endif %}

{% if page.path contains '_projects' %}
    {% include components/project-meta.html %}
{% endif %}

{% if page.path contains '_posts' %}
    {% include components/post-meta.html %}
{% endif %}

{% if page.path contains '_portfolio' %}
    {% include components/portfolio-meta.html %}
{% endif %}
